.how-to-clean-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.how-to-clean-how-to-clean {
  width: 100%;
  height: 1918px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.how-to-clean-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 105px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.how-to-clean-header1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 105px;
  position: absolute;
}
.how-to-clean-layout-kanan {
  top: 44px;
  left: 1570px;
  width: 123px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-search-barcta {
  top: 0px;
  left: 100px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.how-to-clean-profile-cta {
  top: 0px;
  left: 50px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.how-to-clean-cart-cta {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.how-to-clean-text {
  top: 43px;
  left: 1073px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text02 {
  top: 44px;
  left: 944px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text04 {
  top: 44px;
  left: 803px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-logo {
  top: 14px;
  left: 137px;
  width: 126px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-text06 {
  top: 29px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-sctahome {
  top: 0px;
  left: 0px;
  width: 89px;
  height: 75px;
  position: absolute;
}
.how-to-clean-sizing-info {
  top: 114px;
  left: 821px;
  width: 277px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.how-to-clean-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-footer {
  top: 1046px;
  left: 0px;
  width: 1920px;
  height: 872px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(179, 179, 179, 1);
}
.how-to-clean-copyright {
  top: 662px;
  left: -3px;
  width: 1923px;
  height: 210px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-rectangle33 {
  top: 6px;
  left: 3px;
  width: 1920px;
  height: 204px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.how-to-clean-line4 {
  top: 3px;
  left: 3px;
  width: 1917px;
  height: 1px;
  position: absolute;
}
.how-to-clean-text10 {
  top: 75px;
  color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-footer-information {
  top: 205px;
  left: 0px;
  width: 1920px;
  height: 457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.how-to-clean-getin-touch {
  top: 25px;
  left: 1149px;
  width: 435px;
  height: 327px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-business-inquiries {
  top: 219px;
  left: 36px;
  width: 317px;
  height: 108px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-text12 {
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text14 {
  top: 45px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-customer-service {
  top: 66px;
  left: 36px;
  width: 317px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-text16 {
  top: 78px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text18 {
  top: 45px;
  color: rgba(255, 255, 255, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text20 {
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text22 {
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-in-case-youre-wondering {
  top: 25px;
  left: 560px;
  width: 435px;
  height: 389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-text24 {
  top: 278px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text26 {
  top: 323px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text28 {
  top: 368px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text30 {
  top: 233px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text32 {
  top: 188px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text34 {
  top: 143px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text36 {
  top: 98px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text38 {
  top: 53px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text40 {
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-getto-know-us {
  top: 25px;
  left: 37px;
  width: 229px;
  height: 121px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-text42 {
  top: 99px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text44 {
  top: 54px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text46 {
  color: rgba(255, 255, 255, 1);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-socmed-icon {
  top: 259.4084777832031px;
  left: 97px;
  width: 180.57211303710938px;
  height: 32.591796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-untitled1 {
  top: 1.591796875px;
  left: 72.09765625px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.how-to-clean-instagramiconwhitepng41 {
  top: 1.591796875px;
  left: 3.637978807091713e-12px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.how-to-clean-whatsappicon2045x204865qn89dz1 {
  top: 0.2174959033727646px;
  left: 149.306640625px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.how-to-clean-subscribe-newsletter {
  top: 0px;
  left: 0px;
  width: 1920.0224609375px;
  height: 205.1866455078125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-rectangle29 {
  top: 0px;
  left: 0.00004290230572223663px;
  width: 1920px;
  height: 203px;
  position: absolute;
}
.how-to-clean-email-address {
  top: 63px;
  left: 1313px;
  width: 462.99951171875px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-rectangleemail {
  top: 0px;
  left: 0px;
  width: 381px;
  height: 50px;
  position: absolute;
  border-color: rgba(255, 253, 253, 1);
  border-style: solid;
  border-width: 2px;
}
.how-to-clean-text48 {
  top: 9.473625183105469px;
  left: 11.536532402038574px;
  color: rgba(255, 255, 255, 1);
  width: 360px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Poppins;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-submit-cta {
  top: 4.547473508864641e-13px;
  left: 380.70556640625px;
  width: 82.29393005371094px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.how-to-clean-arrow2 {
  top: 25.263179779052734px;
  left: 21.534873962402344px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.how-to-clean-line3 {
  top: 205.1866455078125px;
  left: 0px;
  width: 1920px;
  height: 1px;
  position: absolute;
}
.how-to-clean-text-panjang {
  top: 55px;
  left: 126px;
  width: 1130px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.how-to-clean-text50 {
  top: 8px;
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-text52 {
  left: 404px;
  color: rgba(255, 255, 255, 1);
  width: 726px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-line41 {
  top: 190.17138671875px;
  left: 60px;
  width: 1800px;
  height: 1px;
  position: absolute;
}
.how-to-clean-gambar {
  top: 268px;
  left: 377px;
  width: 1165px;
  height: 613px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.how-to-clean-rectangle {
  top: 0px;
  left: -1px;
  width: 1166px;
  height: 613px;
  position: absolute;
}
.how-to-clean-gambar-video-promo {
  top: 435px;
  left: 279px;
  width: 606px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.how-to-clean-text54 {
  color: rgba(0, 0, 0, 1);
  width: 606px;
  height: auto;
  position: absolute;
  font-size: 56px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 80px;
  font-stretch: normal;
  text-decoration: none;
}
.how-to-clean-group {
  top: 241px;
  left: 517px;
  width: 132px;
  height: 132px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.how-to-clean-ellipse {
  top: 0px;
  left: 0px;
  width: 132px;
  height: 132px;
  position: absolute;
}
.how-to-clean-polygon {
  top: 36px;
  left: 95px;
  width: 59px;
  height: 59px;
  position: absolute;
}
