.my-account-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.my-account-my-account {
  width: 100%;
  height: 2008px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(179, 179, 179, 1);
}
.my-account-background {
  top: 92px;
  left: 0px;
  width: 1920px;
  height: 1066px;
  position: absolute;
}
.my-account-text {
  top: 395px;
  left: 693px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-my-account1 {
  top: 341px;
  left: 112px;
  width: 536.0009155273438px;
  height: 792px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-rectangle45 {
  top: 0px;
  left: 0px;
  width: 536px;
  height: 792px;
  position: absolute;
  border-color: rgba(225, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
}
.my-account-profile-cta {
  top: 70.93123626708984px;
  left: 50px;
  width: 100px;
  height: 123px;
  position: absolute;
}
.my-account-text02 {
  top: 155.66064453125px;
  left: 183px;
  color: rgba(0, 0, 0, 1);
  width: 137px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text03 {
  color: rgba(0, 0, 0, 1);
}
.my-account-text05 {
  top: 751px;
  left: 16px;
  color: rgba(157, 157, 157, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text07 {
  top: 679px;
  left: 16px;
  color: rgba(145, 145, 145, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text09 {
  top: 604px;
  left: 16px;
  color: rgba(165, 165, 165, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text11 {
  top: 530px;
  left: 16px;
  color: rgba(160, 160, 160, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text13 {
  top: 457px;
  left: 16px;
  color: rgba(165, 165, 165, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text15 {
  top: 384px;
  left: 16px;
  color: rgba(152, 152, 152, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-line11 {
  top: 715px;
  left: 0px;
  width: 536px;
  height: 1px;
  position: absolute;
}
.my-account-line10 {
  top: 639px;
  left: 0px;
  width: 536px;
  height: 1px;
  position: absolute;
}
.my-account-line9 {
  top: 568px;
  left: 0px;
  width: 536px;
  height: 1px;
  position: absolute;
}
.my-account-line8 {
  top: 498px;
  left: 0px;
  width: 536px;
  height: 1px;
  position: absolute;
}
.my-account-line7 {
  top: 425px;
  left: 0px;
  width: 536px;
  height: 1px;
  position: absolute;
}
.my-account-rectangle44 {
  top: 108px;
  left: 0px;
  width: 1920px;
  height: 168px;
  position: absolute;
}
.my-account-text17 {
  top: 144px;
  left: 162px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text19 {
  top: 192px;
  left: 164px;
  color: rgba(100, 100, 100, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 105px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.my-account-header1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 105px;
  position: absolute;
}
.my-account-layout-kanan {
  top: 44px;
  left: 1570px;
  width: 123px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-search-barcta {
  top: 0px;
  left: 100px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.my-account-profile-cta1 {
  top: 0px;
  left: 50px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.my-account-cart-cta {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.my-account-text21 {
  top: 43px;
  left: 1073px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text23 {
  top: 44px;
  left: 944px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text25 {
  top: 44px;
  left: 803px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-logo {
  top: 14px;
  left: 137px;
  width: 126px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-text27 {
  top: 29px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-sctahome {
  top: 0px;
  left: 0px;
  width: 89px;
  height: 75px;
  position: absolute;
}
.my-account-saved-product-cta {
  top: 450px;
  left: 693px;
  width: 321px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.my-account-text29 {
  top: 19px;
  left: 88px;
  color: rgba(165, 165, 165, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text31 {
  top: 359px;
  left: 693px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-orders-cta {
  top: 450px;
  left: 1106px;
  width: 321px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.my-account-text33 {
  top: 19px;
  left: 132px;
  color: rgba(165, 165, 165, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-addresses-cta {
  top: 560px;
  left: 693px;
  width: 321px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.my-account-text35 {
  top: 18px;
  left: 115px;
  color: rgba(168, 168, 168, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-gift-cards-cta {
  top: 450px;
  left: 1521px;
  width: 321px;
  height: 65px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.my-account-text37 {
  top: 19px;
  left: 114px;
  color: rgba(161, 161, 161, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-footer {
  top: 1133px;
  left: 0px;
  width: 1920px;
  height: 872px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(179, 179, 179, 1);
}
.my-account-copyright {
  top: 662px;
  left: -3px;
  width: 1923px;
  height: 210px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-rectangle33 {
  top: 6px;
  left: 3px;
  width: 1920px;
  height: 204px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.my-account-line4 {
  top: 3px;
  left: 3px;
  width: 1917px;
  height: 1px;
  position: absolute;
}
.my-account-text39 {
  top: 75px;
  color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-footer-information {
  top: 205px;
  left: 0px;
  width: 1920px;
  height: 457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.my-account-getin-touch {
  top: 25px;
  left: 1149px;
  width: 435px;
  height: 327px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-business-inquiries {
  top: 219px;
  left: 36px;
  width: 317px;
  height: 108px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-text41 {
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text43 {
  top: 45px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-customer-service {
  top: 66px;
  left: 36px;
  width: 317px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-text45 {
  top: 78px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text47 {
  top: 45px;
  color: rgba(255, 255, 255, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text49 {
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text51 {
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-in-case-youre-wondering {
  top: 25px;
  left: 560px;
  width: 435px;
  height: 389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-text53 {
  top: 278px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text55 {
  top: 323px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text57 {
  top: 368px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text59 {
  top: 233px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text61 {
  top: 188px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text63 {
  top: 143px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text65 {
  top: 98px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text67 {
  top: 53px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text69 {
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-getto-know-us {
  top: 25px;
  left: 37px;
  width: 229px;
  height: 121px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-text71 {
  top: 99px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text73 {
  top: 54px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text75 {
  color: rgba(255, 255, 255, 1);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-socmed-icon {
  top: 259.4084777832031px;
  left: 97px;
  width: 180.57211303710938px;
  height: 32.591796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-untitled1 {
  top: 1.591796875px;
  left: 72.09765625px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.my-account-instagramiconwhitepng41 {
  top: 1.591796875px;
  left: 3.637978807091713e-12px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.my-account-whatsappicon2045x204865qn89dz1 {
  top: 0.2174959033727646px;
  left: 149.306640625px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.my-account-subscribe-newsletter {
  top: 0px;
  left: 0px;
  width: 1920.0224609375px;
  height: 205.1866455078125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-rectangle29 {
  top: 0px;
  left: 0.00004290230572223663px;
  width: 1920px;
  height: 203px;
  position: absolute;
}
.my-account-email-address {
  top: 63px;
  left: 1313px;
  width: 462.99951171875px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-rectangleemail {
  top: 0px;
  left: 0px;
  width: 381px;
  height: 50px;
  position: absolute;
  border-color: rgba(255, 253, 253, 1);
  border-style: solid;
  border-width: 2px;
}
.my-account-text77 {
  top: 9.473625183105469px;
  left: 11.536532402038574px;
  color: rgba(255, 255, 255, 1);
  width: 360px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Poppins;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-submit-cta {
  top: 4.547473508864641e-13px;
  left: 380.70556640625px;
  width: 82.29393005371094px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.my-account-arrow2 {
  top: 25.263179779052734px;
  left: 21.534873962402344px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.my-account-line3 {
  top: 205.1866455078125px;
  left: 0px;
  width: 1920px;
  height: 1px;
  position: absolute;
}
.my-account-text-panjang {
  top: 55px;
  left: 126px;
  width: 1130px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.my-account-text79 {
  top: 8px;
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.my-account-text81 {
  left: 404px;
  color: rgba(255, 255, 255, 1);
  width: 726px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
