.store-locator-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.store-locator-store-locator {
  width: 100%;
  height: 1772px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.store-locator-footer {
  top: 900px;
  left: 0px;
  width: 1920px;
  height: 872px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(179, 179, 179, 1);
}
.store-locator-copyright {
  top: 662px;
  left: -3px;
  width: 1923px;
  height: 210px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-rectangle33 {
  top: 6px;
  left: 3px;
  width: 1920px;
  height: 204px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.store-locator-line4 {
  top: 3px;
  left: 3px;
  width: 1917px;
  height: 1px;
  position: absolute;
}
.store-locator-text {
  top: 75px;
  color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-footer-information {
  top: 205px;
  left: 0px;
  width: 1920px;
  height: 457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.store-locator-getin-touch {
  top: 25px;
  left: 1149px;
  width: 435px;
  height: 327px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-business-inquiries {
  top: 219px;
  left: 36px;
  width: 317px;
  height: 108px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-text02 {
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text04 {
  top: 45px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-customer-service {
  top: 66px;
  left: 36px;
  width: 317px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-text06 {
  top: 78px;
  color: rgba(255, 255, 255, 1);
  width: 305px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text08 {
  top: 45px;
  color: rgba(255, 255, 255, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text10 {
  color: rgba(255, 255, 255, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text12 {
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-in-case-youre-wondering {
  top: 25px;
  left: 560px;
  width: 435px;
  height: 389px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-text14 {
  top: 278px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text16 {
  top: 323px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text18 {
  top: 368px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text20 {
  top: 233px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text22 {
  top: 188px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text24 {
  top: 143px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text26 {
  top: 98px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text28 {
  top: 53px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text30 {
  color: rgba(255, 255, 255, 1);
  width: 435px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-getto-know-us {
  top: 25px;
  left: 37px;
  width: 229px;
  height: 121px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-text32 {
  top: 99px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text34 {
  top: 54px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text36 {
  color: rgba(255, 255, 255, 1);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-socmed-icon {
  top: 259.4084777832031px;
  left: 97px;
  width: 180.57211303710938px;
  height: 32.591796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-untitled1 {
  top: 1.591796875px;
  left: 72.09765625px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.store-locator-instagramiconwhitepng41 {
  top: 1.591796875px;
  left: 3.637978807091713e-12px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.store-locator-whatsappicon2045x204865qn89dz1 {
  top: 0.2174959033727646px;
  left: 149.306640625px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.store-locator-subscribe-newsletter {
  top: 0px;
  left: 0px;
  width: 1920.0224609375px;
  height: 205.1866455078125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-rectangle29 {
  top: 0px;
  left: 0.00004290230572223663px;
  width: 1920px;
  height: 203px;
  position: absolute;
}
.store-locator-email-address {
  top: 63px;
  left: 1313px;
  width: 462.99951171875px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-rectangleemail {
  top: 0px;
  left: 0px;
  width: 381px;
  height: 50px;
  position: absolute;
  border-color: rgba(255, 253, 253, 1);
  border-style: solid;
  border-width: 2px;
}
.store-locator-text38 {
  top: 9.473625183105469px;
  left: 11.536532402038574px;
  color: rgba(255, 255, 255, 1);
  width: 360px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraLight;
  text-align: left;
  font-family: Poppins;
  font-weight: 200;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-submit-cta {
  top: 4.547473508864641e-13px;
  left: 380.70556640625px;
  width: 82.29393005371094px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.store-locator-arrow2 {
  top: 25.263179779052734px;
  left: 21.534873962402344px;
  width: 40px;
  height: 1px;
  position: absolute;
}
.store-locator-line3 {
  top: 205.1866455078125px;
  left: 0px;
  width: 1920px;
  height: 1px;
  position: absolute;
}
.store-locator-text-panjang {
  top: 55px;
  left: 126px;
  width: 1130px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-text40 {
  top: 8px;
  color: rgba(255, 255, 255, 1);
  width: 297px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text42 {
  left: 404px;
  color: rgba(255, 255, 255, 1);
  width: 726px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-maps {
  top: 267px;
  left: 960px;
  width: 868px;
  height: 340px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.store-locator-info {
  top: 274px;
  left: 31px;
  width: 577.9996337890625px;
  height: 254px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-text44 {
  top: 140px;
  left: 96.9996337890625px;
  color: rgba(0, 0, 0, 1);
  width: 383px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-line26 {
  top: 123.04736328125px;
  left: 577.9996337890625px;
  width: 578px;
  height: 1px;
  position: absolute;
}
.store-locator-text49 {
  top: 68px;
  left: 159px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text51 {
  left: 121.9996337890625px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-find-us {
  top: 138px;
  left: 35px;
  width: 1850px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-line24 {
  top: 31px;
  left: 815.9996337890625px;
  width: 816px;
  height: 1px;
  position: absolute;
}
.store-locator-text53 {
  left: 842px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-line25 {
  top: 28px;
  left: 1850px;
  width: 816px;
  height: 1px;
  position: absolute;
}
.store-locator-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 105px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.store-locator-header1 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 105px;
  position: absolute;
}
.store-locator-layout-kanan {
  top: 44px;
  left: 1570px;
  width: 123px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-search-barcta {
  top: 0px;
  left: 100px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.store-locator-profile-cta {
  top: 0px;
  left: 50px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.store-locator-cart-cta {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.store-locator-text55 {
  top: 43px;
  left: 1073px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text57 {
  top: 44px;
  left: 944px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-text59 {
  top: 44px;
  left: 803px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-logo {
  top: 14px;
  left: 137px;
  width: 126px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.store-locator-text61 {
  top: 29px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.store-locator-sctahome {
  top: 0px;
  left: 0px;
  width: 89px;
  height: 75px;
  position: absolute;
}
